<footer class="footer">

    <div class="footer-container">

        <a class="logo-footer" href="/">
            <img src="/images/logo-principal-2.png" alt="">
        </a>

        <div class="contacto">
            <div class="contacto-text">
                <h3>CONTACTO</h3>
            </div>           
            <div class="numero">
                <p>11 3884-9632</p>
            </div>
            <div>
                <p>Sicilia 1299</p>
            </div>
        </div>

        <div class="redes"> 
            <div class="redes-text">
                <H3>REDES SOCIALES</H3>
            </div>
            <a href="https://www.instagram.com/graficafyc/">Instagram</a>
        </div>

    </div>


</footer>