<footer class="footer">

    <div class="footer-container">

        <a class="logo-footer" href="/">
            <img src="/images/logo-principal-2.png" alt="">
        </a>

        <div class="contacto">
            <div class="contacto-text">
                <h3>CONTACTO</h3>
            </div>           
            <div class="numero">
                <p>11 3884-9632</p>
            </div>
            <a href="https://www.google.com/maps/place/Sicilia+1299,+B1888CBE+Florencio+Varela,+Provincia+de+Buenos+Aires/@-34.8374886,-58.2878988,18.75z/data=!4m5!3m4!1s0x95a32a2f3e395b39:0xd05db2d02dfb026d!8m2!3d-34.8374801!4d-58.2875125">
                <p>Sicilia 1299</p>
            </a>
        </div>

        <div class="redes"> 
            <div class="redes-text">
                <H3>REDES SOCIALES</H3>
            </div>
            <a href="https://www.instagram.com/graficafyc/">Instagram</a>
        </div>
        <div class="metodos-de-pagos">
            <div class="title-pagos">
                <h3>Metodos de pago</h3>
            </div>
            <div class="lista-pagos">
                <ul>
                    <li>
                        mercadopago
                    </li>
                    <li>
                        transferencia bancaria
                    </li>
                    <li>
                        debito
                    </li>
                    <li>
                        credito
                    </li>
                    <li>
                        efectivo
                    </li>
                </ul>
            </div>
        </div>

    </div>


</footer>