<header>

    <div class="container">
      <p class="logo">Diseño Lonas</p>
      <nav>
        <a href="#somos-proya">Quienes somos</a>
        <a href="#nuestros-programas">Nuestros diseños</a>
        <a href="#caracteristicas">Caracteristicas</a>
      </nav>
    </div>
  </header>