<header class="header">

	<div class="header-container">

		<ul class="nav-header">
			<a class="logo" href="/">
				<img src="/images/principal-logo.png" alt="">
			</a>
			<div class="nav-1">
				<li class="home">
					<a href="/">home</a>
				</li>
				<li class="caract">
					<a href="#caracteristicas">caracteristicas</a>
				</li>	
				<li class="header-products">
					<a href="/products/products">nuestros productos</a>
				</li>
				<li class="add-products">
					<a href="/products/add">agregar producto</a>
				</li> 

				
				<nav class="nav-header-menu">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle color-boton-caca" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                        </button>
                        <ul class="dropdown-menu dropdown p-2 mb-2 color-menu-caca" aria-labelledby="dropdownMenuButton1" >
                          <li><a class="dropdown-item" href="/users/login">Ingresar</a></li>
                          <li><a class="dropdown-item" href="/users/register">Registrarse</a></li>
                        </ul>
                    </div>
                </nav>
			</div>


			<div class="nav-2">	
				<a class="icon-login" href="/users/login"><img src="/images/person_avatar_account_user_icon_191606.svg" alt=""></a>			
  				<a class="login" href="/users/login"></i>iniciar sesion</a>										
			</div>
			<!-- <i class="far fa-address-card"></i> --> <!-- ICONO SECUNDARIO -->


		</ul>
	</div>

</header>







