<a href="#nuestros-programas">Nuestros diseños</a>
				<li><a href="#caracteristicas">Caracteristicas</a></li>
				<li><a href="/products/add">agregar productos</a></li>
				<li><a href="/users/register">registro</a></li>
        <li><a href="/users/login">Login <i class="far fa-address-card"></i></a></li>
				<a href="/">diseño lonas <i class="fas fa-sign-in-alt"></i></a>
				<li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>



