<header class="header">

	<div class="header-container">

		<ul class="nav-header">

			<li class="caract">
				<a href="#caracteristicas">caracteristicas</a>
			</li>
			<li class="add-products">
				<a href="/products/add">agregar producto</a>
			</li>
			<li class="register">
				<a href="/users/register">registrarse</a>
			</li>
			<li class="login">
				<a href="/users/login">iniciar sesion</a>
			</li>
			<div class="dise単o-lonas">
				<a href="/">dise単o lonas<i class="fas fa-sign-in-alt"></i></a>
			</div>
			<li class="productos">
				<a href="/products/products">Nuestros Productos</a>
			</li>
		</ul>

	</div>

</header>




<!-- <a href="#nuestros-programas">nuestros dise単os</a>
				<li><a href="#caracteristicas">Caracteristicas</a></li>
				<li><a href="/products/add">agregar productos</a></li>
				<li><a href="/users/register">registro</a></li>
        		<li><a href="/users/login">Login <i class="far fa-address-card"></i></a></li>
				<a href="/">dise単o lonas <i class="fas fa-sign-in-alt"></i></a>
				<li><a href="/products/products">productos <i class="fas fa-shopping-basket"></i></a></li> -->



