<header>

    <div class="container">
      <a href="/" class="logo">Diseño Lonas</a>
      <nav>
        <a href="#somos-proya">Quienes somos</a>
        <a href="#nuestros-programas">Nuestros diseños</a>
        <a href="#caracteristicas">Caracteristicas</a>
        <a class="nav-link" href="/users/register">registro</a>
        <a class="nav-link" href="/users/login">Login</a>
        <a class="nav-link" href="/products/add">agregar producto</a>
      </nav>
    </div>
  </header>