<header class="header">

	<div class="header-container">

		<div class="nav-header">
			<!-- <div class="menu-burger">
				 <img src="https://img.icons8.com/ios-glyphs/30/000000/menu--v1.png"/>
				 
			</div> -->
			 <div class="nav-3">	
				<nav class="nav-header-menu1">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle color-boton-caca" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
							menu
                        </button>
                        <ul class="btn2 dropdown-menu dropdown p-2 mb-2 color-menu-caca" aria-labelledby="dropdownMenuButton" >
                          <li><a class="dropdown-item" href="/">home</a></li>
                          <li><a class="dropdown-item" href="/">caracteristicas</a></li>
						  <li><a class="dropdown-item" href="/products/products">nuestros productos</a></li>
                        </ul> 
                    </div>
                </nav>
			</div> 
			<a class="logo" href="/">
				<img src="/images/principal-logo.png" alt="">
			</a>
			<div class="nav-1">
				<li class="home">
					<a href="/">home</a>
				</li>
				<li class="caract">
					<a href="#caracteristicas">	¿quienes somos?</a>
				</li>	
				<li class="header-products">
					<a href="/products/products">nuestros productos</a>
				</li>
			</div> 
			
			


			<div class="nav-2">	
				<nav class="nav-header-menu">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle color-boton-caca" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                        </button>
                        <ul class="btn2 dropdown-menu dropdown p-2 mb-2 color-menu-caca" aria-labelledby="dropdownMenuButton1" >
                          <li><a class="dropdown-item" href="/users/login">Ingresar</a></li>
                          <li><a class="dropdown-item" href="/users/register">Registrarse</a></li>
						  <li><a class="dropdown-item" href="/products/add">Agregar producto</a></li>
                        </ul> 
                    </div>
                </nav>
				<!-- <a class="icon-login" href="/users/login"><img src="/images/person_avatar_account_user_icon_191606.svg" alt=""></a>			
  				<a class="login" href="/users/login"></i>iniciar sesion</a> -->										
			</div>
			<!-- <i class="far fa-address-card"></i> --> <!-- ICONO SECUNDARIO -->


		</div>
	</div>

</header>







