<main class="main">
  <div class="main-container">

    <div class="secc1">
      <div class="secc1-text">
        <h1 class="secc1-title"> <strong style="color: orange;">¡</strong>Tenemos los mejores <strong
            style="color:orange;">D</strong>iseños <br>De <strong style="color: orange">LONAS</strong> !</h1>
      </div>
      <a href="https://api.whatsapp.com/send?phone=+541138849632" class="button"> <strong style="color: #020b20;"></strong>Mas info<strong style="color: rgb(7, 2, 2);"></strong></a>
    </div>

    
    <div class="secc2">
      <div class="izq">
            <div class="title-secc2">
              <h1><strong style="color: orange;">¡ </strong>Pedinos tu cartel ahora<strong style="color: orange;"> !</strong></h1>
          </div>
          <div class="tel">
              <p style="color: white"><strong style="color: darkgray;" >llamanos al</strong> (+54) 11 3884-9632</p>
          </div>
          <div class="wsp-text">
            <p style="color: white"><strong style="color: darkgray;" >whatsapp:</strong> (+54) 11 3884-9632</p>
          </div>
          
          <a class="mail" href="mailto:fycimpresion@gmail.com">
            fycimpresion@gmail.com
          </a>
          <a class="boton-mail" href="mailto:fycimpresion@gmail.com">
            <p>
              Solicitar presupuesto <img src="https://img.icons8.com/windows/32/000000/pencil.png"/>
            </p>    
          </a>
      </div>
      <div class="der">
        <img src="/images/imgder.jpg" alt="">
      </div>
        
    </div>

    <div class="maps">
      <div class="title-maps">
        <h1>NUESTRA UBICACIÓN:</h1>
          <!-- <h1>Nuestra ubicación:</h1> -->
      </div>
      <div class="api-maps">
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3274.746102809649!2d-58.28970118423116!3d-34.83747567741204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32a2f3e395b39%3A0xd05db2d02dfb026d!2sSicilia%201299%2C%20B1888CBE%20Florencio%20Varela%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1648234717455!5m2!1ses-419!2sar"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
      </div>
    </div>
        
    <div class="wsp">
        <a href="https://api.whatsapp.com/send?phone=+541138849632">
          <img src="/images/whasap.png" alt="">
        </a>
    </div>
  </div>
</main>
<!-- 

    <div class="somos-proya">
      <div class="container">
        <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-span"> Diseños lonas</span></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Placeat sunt natus possimus, non neque a pariatur
                eligendi iure ab exercitationem repellat aliquam facere iusto,
                minima ex quibusdam laudantium ipsum. Nisi.</p>
            </div>
    </div>
    </div>

    <div class="nuestros-programas">
        <div class="container">
            <H2>nuestros diseños</H2>
    <div class="programas">

    
    <div class="carta">
      <h3>agregar un  titulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Non, voluptates blanditiis? Alias eos assumenda,
            </p>
           <button>+ Info</button>
    </div>
    <div class="carta">
      <h3>agregar un titulo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Non, voluptates blanditiis? Alias eos assumenda,
          </p>
           <button>+ Info</button>
    </div>
    <div class="carta">
      <h3>agregar un titulo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Non, voluptates blanditiis? Alias eos assumenda,
          </p>
          <button>+ Info</button>
    </div>
    </div>
    </div>
    </div>

    <div class="caracteristicas">
        <div class="container">
        <ul>
        <li>✔️ 100% online</li>
        <li>✔️ flexibilidad horarios</li>
        <li>✔️ soporte 1:1</li>
        <li>✔️ presupuesto sin cargo</li>
        </ul>
    </div>
    </div>

    <div class="final">
        <h2>Listo para empezar?</h2>
        <button>Aplica Ya!</button>
    </div>
     -->