<main class="main">

    <div class="hero">
      <h1>Mejores Diseños <br> De lonas</h1>
      <button>APLICA YA!</button>
    </div>

    <div class="somos-proya">
      <div class="container">
        <div class="img-container"></div>
            <div class="texto">
                <h2>Somos <span class="color-span"> Diseños lonas</span></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Placeat sunt natus possimus, non neque a pariatur
                eligendi iure ab exercitationem repellat aliquam facere iusto,
                minima ex quibusdam laudantium ipsum. Nisi.</p>
            </div>
    </div>
    </div>

    <div class="nuestros-programas">
        <div class="container">
            <H2>nuestros diseños</H2>
    <div class="programas">

    
    <div class="carta">
      <h3>agregar un  titulo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Non, voluptates blanditiis? Alias eos assumenda,
            </p>
           <button>+ Info</button>
    </div>
    <div class="carta">
      <h3>agregar un titulo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Non, voluptates blanditiis? Alias eos assumenda,
          </p>
           <button>+ Info</button>
    </div>
    <div class="carta">
      <h3>agregar un titulo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Non, voluptates blanditiis? Alias eos assumenda,
          </p>
          <button>+ Info</button>
    </div>
    </div>
    </div>
    </div>

    <div class="caracteristicas">
        <div class="container">
        <ul>
        <li>✔️ 100% online</li>
        <li>✔️ flexibilidad horarios</li>
        <li>✔️ soporte 1:1</li>
        <li>✔️ presupuesto sin cargo</li>
        </ul>
    </div>
    </div>

    <div class="final">
        <h2>Listo para empezar?</h2>
        <button>Aplica Ya!</button>
    </div>
</main>