<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 

<body>
  <%- include('./partials/header') %>
    <h1>aca el admin agrega sus fotos q quiera con descripcion</h1>

  <%- include('./partials/footer') %>

  <%- include('./partials/scripts') %>
</body>

</html>