<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 

<body>
  <%- include('./partials/header') %> 

  <main class="productos">

  <div class="conte">

    <div class="card stromtroper">
      <img src="/images/CARTELES-ARTISTICOS-2.jpg" alt="">
    </div>

    <div class="informacion">
      <h1>letreros</h1>
      <br>
      <p class="fecha">fecha salidad : 1/2/3</p>
    </div>
    <div class="precio">
      <div class="box-precio">
        <span class="precio1"><strike>$/35.00</strike></span>
        <span class="precio2"><b>$/35.99</b></span>
        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
      </div>
    </div>
  </div>

  <div class="conte">

    <div class="card stromtroper">
      <img src="/images/BANNER-8.jpg" alt="">
    </div>

    <div class="informacion">
      <h1>Banner</h1>
      <br>
      <p class="fecha">fecha salidad : 1/2/3</p>
    </div>
    <div class="precio">
      <div class="box-precio">
        <span class="precio1"><strike>$/35.00</strike></span>
        <span class="precio2"><b>$/35.99</b></span>
        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
      </div>
    </div>
  </div>

  <div class="conte">

    <div class="card stromtroper">
      <img src="/images/STICKERS-1.jpg" alt="">
    </div>

    <div class="informacion">
      <h1>Stickers</h1>
      <br>
      <p class="fecha">fecha salidad : 1/2/3</p>
    </div>
    <div class="precio">
      <div class="box-precio">
        <span class="precio1"><strike>$/35.00</strike></span>
        <span class="precio2"><b>$/35.99</b></span>
        <span class="shoping"><i class="fas fa-cart-plus"></i></span>
      </div>
    </div>
  </div>
  
</main>
    


  

  <%- include('./partials/scripts') %>
</body>

</html>