<!DOCTYPE html>
<html>

<%- include('./partials/head') %> 

<body>
  <%- include('./partials/header') %>

  <section id="hero">
    <h1>Mejores Diseños <br> De lonas</h1>
    <button>APLICA YA!</button>
  </section>

  <section id="somos-proya">
    <div class="container">
      <div class="img-container"></div>
      <h2>Somos <span class="color-span"> Diseños lonas</span></h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Placeat sunt natus possimus, non neque a pariatur
        eligendi iure ab exercitationem repellat aliquam facere iusto,
         minima ex quibusdam laudantium ipsum. Nisi.</p>
    </div>
  </section>

  <section id="nuestros-programas">
    <div class="container">
    <H2>nuestros diseños</H2>
    <div class="contenedor">

    
    <div class="carta">
      <h3>agregar un  titulo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Non, voluptates blanditiis? Alias eos assumenda,
          aliquid ab natus voluptate iure sunt dolorum error accusantium.
           Dolore perspiciatis delectus illo nobis inventore quae?</p>
           <button>+ Info</button>
    </div>
    <div class="carta">
      <h3>agregar un titulo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Non, voluptates blanditiis? Alias eos assumenda,
          aliquid ab natus voluptate iure sunt dolorum error accusantium.
           Dolore perspiciatis delectus illo nobis inventore quae?</p>
           <button>+ Info</button>
    </div>
    <div class="carta">
      <h3>agregar un titulo</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Non, voluptates blanditiis? Alias eos assumenda,
          aliquid ab natus voluptate iure sunt dolorum error accusantium. 
          Dolore perspiciatis delectus illo nobis inventore quae?</p>
          <button>+ Info</button>
    </div>
  </div>
  </div>
  </section>

  <section id="caracteristicas">
    <div class="container">
    <ul>
      <li>✔️ 100% online</li>
      <li>✔️ flexibilidad horarios</li>
      <li>✔️ soporte 1:1</li>
      <li>✔️ presupuesto sin cargo</li>
    </ul>
  </div>
  </section>

  <section id="final">
    <h2>Listo para empezar?</h2>
    <button>Aplica Ya!</button>
  </section>

  <footer>
    <div class="container">
      <p>&copy; Diseño de lonas 2022</p>
    </div>
  </footer>

</body>

</html>