<!DOCTYPE html>
<html>
  <head>
    <title>Diseño Lonas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>niko olor orto</h1>
    <p>niko es un putarraco</p>
  </body>
</html>
