

<%- include('./partials/head') %> 

<body>
  <%- include('./partials/header') %> 

    
  <div class="quienes-somos-container">


    <div class="quienes-somos">

        <img src="/images/si.png"  alt="">

        <div class="quienes-somos-text">
            
            <h2>Quienes somos?</h2>
            <p>Somos una empresa que a lo largo de varios años construimos procesos de producción que nos permiten ser competitivos en el mercado. 

                Hoy somos una empresa que brinda soluciones gráficas con más de 10 años de experiencia.
                
                Trabajamos con los mejores insumos y maquinaria del sector, ofreciendo amplia variedad y novedades de productos y terminaciones.  
                
                Brindamos servicios tanto para el gremio, como empresas, emprendedores, comercio y más.
                
                Nuestro principal compromiso es la buena atención, con gran dedicación para lograr la mejor calidad y precios competitivos en base a tus necesidades.
                
                ¡Conocenos!</p>

        </div>


    </div>


  </div>

<%- include('./partials/footer') %>

<%- include('./partials/scripts') %>
</body>

