
main.detail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2e54
}


.container-detail-product{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: white;
  /* width: 80%; */
  height: 90%;
  border-radius: 10px;
}


.container-detail-product .lado-izq .arriba img{
  height: 90%;
  width: 100%;
}

.lado-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
}
.lado-der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95%;
  width: 40%;
  padding-left: 6rem;
  margin-left: 6rem;
  border-left: 1px solid orange;
}

.arriba{
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.abajo{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

.btns-admin{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14rem;
    border-top: 1px solid orange;
}




.lado-izq .arriba{
  border-bottom: 1px solid orange;
}
.title-description {
  display: flex;
  justify-content: center;
}
.lado-izq .abajo .title-description h2{
  font-weight: lighter;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid orange;
}


.lado-der .arriba .product-detail-title {
  font-weight: lighter;
  font-size: 3.8em;
  text-align: center;
  border: 1px solid orange;
  border-radius: 10px;
}

.lado-der .arriba .detail-product p{
  font-size: 24px;
  text-align: center;
  font-family: lighter;
}




.lado-der .arriba .envios-domi p{
  font-size: 24px;
  color: gray;
  font-weight: lighter;
}

.lado-der .arriba .retiro-local p{
  font-size: 24px;
  color: gray;
  font-weight: lighter;
}

.envios-retiro i{
  color: gray;
  font-size: 20px;
  
}
.lado-der .abajo .btn-presupuesto{
  font-size: 18px;
  text-align: center;
}

.lado-der .abajo .btn-presupuesto a{
  border: 1px solid orange;
  padding: 10px;
  border-radius: 8px;
  color: orange;
}

.btns-admin .btn-edit a{
  font-size: 17px;
}

.btns-admin .btn-delete button.btn.btn-danger {
  font-size: 17px;
}




.lado-der .abajo{

  border-top: 1px solid orange;
  border-bottom: 1px solid orange

}


.text-description {
  border: 1px solid orange;
  border-radius: 10px;
  padding: 11px;
}

.text-description h3{
  font-weight: lighter;
}

.text-description strong {
  font-weight: bolder;
  border-bottom: 1px solid blue;
}