
main.detail {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2e54
}


.container-detail-product{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: white;
  width: 80%;
  height: 60%;
  border-radius: 10px;
}


.container-detail-product .lado-izq .arriba img{
  height: 90%;
  width: auto;
}

.lado-izq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
}
.lado-der {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  padding-left: 6rem;
  border-left: 2px solid #c6c0c059;
}

.arriba{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.abajo{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btns-admin{
  display: flex;
}


.lado-izq .arriba{
  border-bottom: 2px solid #c6c0c059;
}