/*====== Products ======*/
.detail .products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .detail .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  
  .detail .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .detail .product-box a {
    display: block;
  }
  
  .detail .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
  .detail .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .detail .product-box_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .detail .product-box_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .detail .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .detail .product-box_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .detail .product-box:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .detail .product-box:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  .detail .product-box:hover i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  }

.detail .product-detail {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .detail .product-detail-img {
    width: 60%;
    display: block;
    margin: auto;
  }
  
  .detail .product-detail-info {
    border-left: 1px solid var(--light-gray);
    padding: 15px;
    height: 100%;
  }
  
  .detail .product-detail-title {
    font-weight: 400;
    font-size: 2.8em;
    font-style: oblique;
  }
  
  .detail .product-detail-description {
    padding: 20px;
    font-size: 1.9em;
    line-height: 1.8;
    font-weight: initial;
  }

  a.btn.btn-outline-secondary.invertido {
    border-color: #d64d00;
    font-weight: 600;
    width: 55%;
    font-size: initial;
    background: #f9fafb;
    color: #d64d00;
}
a.btn.btn-outline-secondary {
  border-color: #ee2224;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 1em;
  font-weight: 400;
  background: #ee2224;
  color: aliceblue;
  margin: 10px;
}
/* botones eliminar y editar */
.detail .btn-danger {
  color: #fff;
  width: 10vw;
  font-size: 1vw;
  background-color: #ce1b2d;
  border-color: #c01021;
}
.detail .btn-success {
  color: #fff;
  width: 10vw;
  font-size: 1vw;
  background-color: #0fb467;
  border-color: #0eaa61;
}
/* .. */

  .detail h2{
  border-bottom: 1px solid #d64d00;
  font-style: oblique;
  }
  .detail .product-detail-price {
    font-size: 1.5em;
    margin: 14px 0px;
    font-style: oblique;
  }
  
  .detail .small {
    font-size: 1.8em;
    color: var(--green);
  }
  
  .detail .small span {
    text-decoration: line-through;
  }
  
 .detail .actions-list {
    margin-bottom: 50px;
  }
  
 .detail .actions-list li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
  }
  
 .detail .actions-list i {
    color: var(--green);
    font-size: 2em;
    margin-right: 15px;
  }
  
 .detail .actions-list p {
    color: var(--gray);
    font-size: 1.7em;
    margin: 0;
  }
  
  .detail .buy-now-button {
    background-color: var(--light-blue);
    font-size: 1.6em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
  }
  
  .detail .action-button {
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 15px;
  }
  
  .detail .action-button.edit {
    background-color: chocolate;
  }
  .detail .action-button.delete {
    background-color: rgb(248, 69, 37);
  }
  
  
  /*====== Formularios ======*/
  .detail .form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
  }
  
  .detail .form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
  }
  
  .detail textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }
  