.footer{
    background-color: #020b20;
    display: flex;
    justify-content: center;
}

.footer-container{
    height: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    width: 80%;
}

.footer-container a:hover{
    color: orange ;
    transition-duration: 0.5s; 
    /* transition-delay: 0.5s;  */
}

.footer-container .logo-footer img{
    height:73px
}

.footer-container .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container .contacto{
    font-size: 12px;
}

.footer-container .redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container .redes a{
    font-size: 12px;
}

.footer .sigamos-conectados{
    width: 21%;
    font-size: initial;
}
.footer .sigamos-conectados p.title {
    font-size: 1.75rem;
    text-align: center;
}
.footer .sigamos-conectados .icons-redes{
    display: flex;
    justify-content:center
}

.footer .sigamos-conectados .icons-redes a{
    padding: 0 20px;
}

.footer-container .metodos-de-pagos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .metodos-de-pagos li{
    font-size: 12px;
    text-align: center;
}