.footer{
    background-color: #020b20;
    display: flex;
    justify-content: center;
}

.footer-container{
    height: 13rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    width: 80%;
}

.footer-container a:hover{
    color: orange ;
    transition-duration: 0.5s; 
    /* transition-delay: 0.5s;  */
}

.footer-container .logo-footer img{
    height:73px
}

.footer-container .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .contacto h3{
    margin-bottom:5px
}

.footer-container .contacto p{
    font-size: 13px;
}
.footer-container .contacto .numero {
    margin-top: 7px;
}
.footer-container .redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container .redes a{
    font-size: 20px;
}
