.header {
   /*  position:fixed; */
    width: 100%;
    background-color: #030F2D; 
    display: flex;
    justify-content: center;
    /* position: fixed; */
    /* z-index: 30; */
}

.header ul{
	list-style: none;
}

.header a {
	text-decoration: none;
	color: unset;
}

/* .header .nav-3{
    display:none !important;
}
 */
.header-container {
    width: 100%;
    display:flex;
    height: 10rem;
    justify-content: space-around;
}

.header .nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;    
    height: 100%;
    font-size: 25px;
    
}

.header .nav-header a {
   color: orange;
   display: flex;
   align-items: center;
}

.header .nav-header a:hover{
    color: orange;
    transition-duration: 0.5s; 
}
.header .nav-header a i:hover{
    color: orange;
    transition-duration: 0.5s; 
}

.header .nav-header .logo img{
    height: 55px
}

.header .nav-header .nav-1{
    height: 100%;
    display: flex;
    align-items: center;
    width: 48%;
    justify-content: space-around;
   font-weight: lighter; 
}

.header .nav-header .nav-1 li{
    height:100%;
    display: flex;
    justify-content: center;
}
.header .nav-header .nav-1 li a:hover{
    color:rgb(250, 250, 250);
}
.header .nav-header .nav-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 7rem; */
    height: 100%;
    font-size: 22px;
    
}
.header .nav-header .nav-2:hover{
    transform: scale(1.1);
}
.header .nav-header .nav-2  i{
    color: orange;
    margin-top: 10px;
    margin-right: 5px;
}

.header .nav-header .icon-login {
    margin-right: 7px;
    background: orange;
    border-radius: 29px;
}
.header .nav-header .nav-2 .icon-login img{
    color: white;
    height: 33px;
}

.header .nav-header .nav-2 .icon-login img:hover{
    transform: scale(1.2);
}



.header .nav-header .nav-2 .login{
    margin-top: 2px;
    color: orange
}



.header .nav-header .add-products a{
    font-size: 7px;
}

.header .nav-2 .nav-header-menu{
    background-color:#030F2D;
}

.header .nav-2 .nav-header-menu .btn2{
    background-color: #030F2D;
}

.header .nav-2 .nav-header-menu .dropdown-item{
    font-weight: lighter;
}

.header .nav-2 .nav-header-menu .btn-secondary {
    color: orange;
    background-color: #030F2D;
    border-color: orange;
}


/* @media screen and (min-width: 320px){

    .header{
      width: 100%;  
    }
  
    .nav-header .nav-1{
      display: none !important
    }
        
    .nav-header .logo img{
      display: none 
    }

    .header ul.btn2.dropdown-menu.dropdown.p-2.mb-2.color-menu-caca.show {
        transform: translate3d(-34px, 59px, 0px) !important;
        height: 100vh;
    }

    .header .nav-2 .nav-header-menu .dropdown-item {
        font-weight: lighter;
        padding: 19px 22px;
        font-size: 19px;
    }
    
} */