.header {
   /*  position:fixed; */
    width: 100%;
    background-color: #030F2D; 
    display: flex;
    justify-content: center;
}

ul{
	list-style: none;
}

a {
	text-decoration: none;
	color: unset;
}


.header-container {
    width: 90%;
    display:flex;
    height: 10rem;
    justify-content: space-around;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    height: 100%;
    font-size: 25px;
    
}

.nav-header a {
   color: white;
}

.nav-header a:hover{
    color: orange;
    transition-duration: 0.5s; 
}
.nav-header a i:hover{
    color: orange;
    transition-duration: 0.5s; 
}

.nav-header .logo img{
    height: 55px
}

.nav-header .nav-1{
    height: 100%;
    display: flex;
    align-items: center;
    width: 48%;
    justify-content: space-around;
   /*  font-weight: bolder; */
}

.nav-header .nav-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
    height: 100%;
    font-size: 22px;
    
}
.nav-header .nav-2:hover{
    transform: scale(1.1);
}
.nav-header .nav-2  i{
    color: white;
    margin-top: 10px;
    margin-right: 5px;
}

.nav-header .icon-login {
    margin-right: 7px;
    background: orange;
    border-radius: 29px;
}
.nav-header .nav-2 .icon-login img{
    color: white;
    height: 33px;
}

.nav-header .nav-2 .icon-login img:hover{
    transform: scale(1.2);
}



.nav-header .nav-2 .login{
    margin-top: 2px;
    color: orange
}



.nav-header .add-products a{
    font-size: 7px;
}

