
.header{
    background-color: rgb(233, 222, 222);
  }
  .header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 2em;
  
  }
  .header .encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header nav{
    display: flex;
    text-align: center;
    padding-bottom: 25px;
  }
  .header a{
    font-size: 1.5em;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
  }
  .header a:hover{
    color: rgb(173, 49, 163);
  }
  