.main{
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 100vh;
}

.main-container{
  height: 100vh;
}

.wsp img{
  position: fixed;
  z-index: 5;
  width: 100px;
  height: 100px;
  right: 15px;
  bottom: 15rem;  
}

.wsp img:hover{
  transform: scale(1.1)
}


.main .secc1{ 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; 
  background-image: linear-gradient( 
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/IMPRESIOÃÅN-DE-LONA.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: aliceblue;
  height: 50%
}

.main .secc1 .secc1-text h1.secc1-title{
    font-size: 49px;
    margin-bottom: 25px;
}

.main .secc1 .button{
  font-size: 3vw;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 60px;
  color:  #020b20;
  border: 2px solid rgba(28, 37, 161, 0, 0.5);
  background-color: orange
}


.main .secc1 .button:hover{
  transform: scale(1.1);
}














.index .card{
  background-color: aquamarine;
}




.header .container{
  max-width: 1400px;
  margin: auto;
}
.main .color-span{
  color: blueviolet;
}



.main .somos-proya .container{
  text-align: center;
  padding: 180px 12px;
}

.main .nuestros-programas{
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
}
.main .nuestros-programas h2{
  margin-top: 0;
}
.main .nuestros-programas .container{
  padding: 200px 12px;
}
.main .nuestros-programas .carta{
  background-size: cover;
  background-position: center center;
  padding: 70px;
  margin: 35px 14px;
  border-radius: 15px;
}
.main .carta:first-child{
  background-image: linear-gradient( 
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/lona1.jpg");
}
.main .carta:nth-child(2){
  background-image: linear-gradient( 
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/1314154-impresion-de-lonas-20180219192746217.jpg");
}
.main .carta:nth-child(3){
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/servicios-banner-lonas-impresas-cancun.jpg");
}

.main .caracteristicas .container{
  text-align: center;
  padding: 220px 12px;
}
.main .caracteristicas li{
  margin: 17px 0px;
  font-weight: bold;
}
.main .final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: white;
  height: 60vh;
}




@media (min-width: 720px){
  
  .main .somos-proya .container{
    display: flex;
    justify-content: center;
  }
  .main .somos-proya .texto{
    width: 50%;
    text-align: initial;
    padding-left: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .somos-proya .img-container{
    background-image: url("../images/333.jpeg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
  .main .nuestros-programas .programas{
    display: flex;
    justify-content: center;
  }
  .main .nuestros-programas p{
    display: block;
    margin-bottom: 30px;
  }
  .main .nuestros-programas h3{
    margin-top: 0;
  }
  .main .nuestros-programas .carta{
    padding: 20px;
  }
}



