*{
  box-sizing: border-box;
}
.index .card{
  background-color: aquamarine;
}
html{
  scroll-behavior: smooth;
}

.index body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.index h1{
  font-size: 4vw; 
}
.index h2{
  font-size: 4vw;
}
.index h3{
  font-size: 3vw;
}
.index p{
  font-size: 2vw;
}
.index ul{
  list-style: none;
}
.index li{
  font-size: 2.5em;
}

.index button{
  font-size: 3vw;/* "vw" muy bueno para que se achique solo cuando achico pantalla */
  font-weight: bold;/* grueso de la letra */
  padding: 10px 40px;
  border-radius: 20px;
  border: 2px solid rgba(28, 37, 161, 0, 0.5);
  box-shadow: 2px 2px 10px blue;
  color: white;
  background-color: rgb(133, 26, 182);
}


.index button:hover{
  background-color: rgb(218, 29, 177);
}

.header .container{
  max-width: 1400px;
  margin: auto;
}
.index .color-span{
  color: blueviolet;
}


.index .hero{ /* aca va el mejores diseño lona y el botton */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;  /* esto va a ocupar el 70porciento de mi pantalla */
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/IMPRESIÓN-DE-LONA.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}

.index .somos-proya .container{/* somos diseño lonas el otro selection */
  text-align: center;
  padding: 180px 12px;
}

.index .nuestros-programas{
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
}
.index .nuestros-programas h2{
  margin-top: 0;
}
.index .nuestros-programas .container{
  padding: 200px 12px;
}
.index .nuestros-programas .carta{
  background-size: cover;
  background-position: center center;
  padding: 70px;
  margin: 35px 14px;
  border-radius: 15px;
}
.index .carta:first-child{
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/lona1.jpg");
}
.index .carta:nth-child(2){
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/1314154-impresion-de-lonas-20180219192746217.jpg");
}
.index .carta:nth-child(3){
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/servicios-banner-lonas-impresas-cancun.jpg");
}

.index .caracteristicas .container{
  text-align: center;
  padding: 220px 12px;
}
.index .caracteristicas li{
  margin: 17px 0px;
  font-weight: bold;
}
.index .final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: white;
  height: 60vh;
}




@media (min-width: 720px){
  
  .index .somos-proya .container{
    display: flex;
    justify-content: center;
  }
  .index .somos-proya .texto{
    width: 50%;
    text-align: initial;
    padding-left: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .index .somos-proya .img-container{
    background-image: url("../images/333.jpeg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
  .index .nuestros-programas .programas{
    display: flex;
    justify-content: center;
  }
  .index .nuestros-programas p{
    display: block;
    margin-bottom: 30px;
  }
  .index .nuestros-programas h3{
    margin-top: 0;
  }
  .index .nuestros-programas .carta{
    padding: 20px;
  }
}






