*{
  box-sizing: border-box;
}
.index .card{
  background-color: aquamarine;
}
html{
  scroll-behavior: smooth;
}

.index body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* carrousel */
 .carousel__contenedorNot,
 .carousel__contenedorCel,
 .carousel__contenedor{
    position: relative;
}


 .carousel__anteriorNot,
 .carousel__siguienteNot,
 .carousel__anteriorCel,
 .carousel__siguienteCel,
 .carousel__anterior,
 .carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 20px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}

 .carousel__anteriorNot:hover,
 .carousel__siguienteNot:hover,
 .carousel__anteriorCel:hover,
 .carousel__siguienteCel:hover,
 .carousel__anterior:hover,
 .carousel__siguiente:hover {
    opacity: 100%;
}

 .carousel__anteriorNot,
 .carousel__anteriorCel,
 .carousel__anterior {
    left: -25px;
}

 .carousel__siguienteNot,
 .carousel__siguienteCel,
 .carousel__siguiente {
    right: -25px;
}

 .carousel__listaGam,
 .carousel__listaCel,
 .carousel__listaNot {
    overflow: hidden;
}

 .carousel__indicadoresNot .glider-dot,
 .carousel__indicadoresCel .glider-dot,
 .carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
}

 .carousel__indicadoresNot .glider-dot:hover,
 .carousel__indicadoresCel .glider-dot:hover,
 .carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

 .carousel__indicadoresNot .glider-dot.active,
 .carousel__indicadoresCel .glider-dot.active,
 .carousel__indicadores .glider-dot.active {
    opacity: 1;
}

.index h1{
  font-size: 4vw; 
}
.index h2{
  font-size: 4vw;
}
.index h3{
  font-size: 3vw;
}
.index p{
  font-size: 2vw;
}
.index ul{
  list-style: none;
}
.index li{
  font-size: 2.5em;
}

.index button{
  font-size: 3vw;/* "vw" muy bueno para que se achique solo cuando achico pantalla */
  font-weight: bold;/* grueso de la letra */
  padding: 10px 40px;
  border-radius: 20px;
  border: 2px solid rgba(28, 37, 161, 0, 0.5);
  box-shadow: 2px 2px 10px blue;
  color: white;
  background-color: rgb(133, 26, 182);
}


.index button:hover{
  background-color: rgb(218, 29, 177);
}

.header .container{
  max-width: 1400px;
  margin: auto;
}
.index .color-span{
  color: blueviolet;
}


#hero{ /* aca va el mejores diseño lona y el botton */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;  /* esto va a ocupar el 70porciento de mi pantalla */
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/IMPRESIÓN-DE-LONA.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}

#somos-proya .container{/* somos diseño lonas el otro selection */
  text-align: center;
  padding: 180px 12px;
}

#nuestros-programas{
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
}
#nuestros-programas h2{
  margin-top: 0;
}
#nuestros-programas .container{
  padding: 200px 12px;
}
#nuestros-programas .carta{
  background-size: cover;
  background-position: center center;
  padding: 70px;
  margin: 60px 40px;
  border-radius: 15px;
}
.index .carta:first-child{
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/lona1.jpg");
}
.index .carta:nth-child(2){
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/1314154-impresion-de-lonas-20180219192746217.jpg");
}
.index .carta:nth-child(3){
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/servicios-banner-lonas-impresas-cancun.jpg");
}

#caracteristicas .container{
  text-align: center;
  padding: 220px 12px;
}
#caracteristicas li{
  margin: 17px 0px;
  font-weight: bold;
}
#final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: white;
  height: 60vh;
}




@media (min-width: 720px){
  .header .encabezado{
    flex-direction: row;
    justify-content: space-between;
  }

  .header nav{
    flex-direction: row;
    padding-bottom: 0;
  }
}






