.login form button{
    background-color: #3c8bbc;
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    font-size: 2rem;
}
.login .text-center {
    
    font-size: 3rem;
}
.login form button:hover{
    background-color: #7cb8d5;
}
.login .mb-3 {
    margin-bottom: 3rem!important;
}
.login .form-control{
    font-size: 2rem;
}
