.agregar{
    margin: auto;
    width: 50%;
    font-size: 1vw;
}
.agregar .btn-primary {
    background-color: orange;
    width: 8vw;
    height: 2vw;
}
.agregar .form-control{
    font-size: 2.2rem;

}
.agregar .form-select {
    font-size: 2rem;
}
