.quienes-somos-container{

    display: flex;
    justify-content:center;
    align-items:center;

}


.quienes-somos{
    display: flex;
    flex-direction: column-reverse;
    color: white;
    text-align: center;
    width: 90%;
}


.quienes-somos-text p{
    font-size: 11px;
    line-height: 21px;
}




@media(min-width: 1024px) {
    .quienes-somos-text{
        margin-top: 6rem;
    }

    .quienes-somos-text p{
        font-size: 17px;
        line-height: 35px;
        font-weight: lighter;
    }
}


@media(min-width: 1440px){

    .quienes-somos{
        display: flex;
        flex-direction: unset !important;
    }



}

@media(min-width: 1900px){

    .quienes-somos-text{
        width: 50%;
    }
    .quienes-somos-text p {
        font-size: 23px;
        line-height: 57px;
        font-weight: lighter;
    }

}