*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  font-size: 4vw; 
}
h2{
  font-size: 4vw;
}
h3{
  font-size: 3vw;
}
p{
  font-size: 2vw;
}
ul{
  list-style: none;
}
li{
  font-size: 2.5em;
}

button{
  font-size: 3vw;/* "vw" muy bueno para que se achique solo cuando achico pantalla */
  font-weight: bold;/* grueso de la letra */
  padding: 10px 40px;
  border-radius: 20px;
  border: 2px solid rgba(28, 37, 161, 0, 0.5);
  box-shadow: 2px 2px 10px blue;
  color: white;
  background-color: rgb(133, 26, 182);
}


button:hover{
  background-color: rgb(218, 29, 177);
}

.container{
  max-width: 1400px;
  margin: auto;
}
.color-span{
  color: blueviolet;
}


header{
  background-color: rgb(233, 222, 222);
}
header .logo{
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: blueviolet;
  font-size: 2em;

}
header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a{
  font-size: 1.5em;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: bold;
  color: blueviolet;
}
header a:hover{
  color: rgb(173, 49, 163);
}
#hero{ /* aca va el mejores diseño lona y el botton */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;  /* esto va a ocupar el 70porciento de mi pantalla */
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/IMPRESIÓN-DE-LONA.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}

#somos-proya .container{/* somos diseño lonas el otro selection */
  text-align: center;
  padding: 180px 12px;
}

#nuestros-programas{
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
}
#nuestros-programas h2{
  margin-top: 0;
}
#nuestros-programas .container{
  padding: 200px 12px;
}
#nuestros-programas .carta{
  background-size: cover;
  background-position: center center;
  padding: 70px;
  margin: 60px 40px;
  border-radius: 15px;
}
.carta:first-child{
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/lona1.jpg");
}
.carta:nth-child(2){
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/1314154-impresion-de-lonas-20180219192746217.jpg");
}
.carta:nth-child(3){
  background-image: linear-gradient( /* oscurece la img para ver el texto */
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) ,url("../images/servicios-banner-lonas-impresas-cancun.jpg");
}

#caracteristicas .container{
  text-align: center;
  padding: 220px 12px;
}
#caracteristicas li{
  margin: 17px 0px;
  font-weight: bold;
}
#final{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: white;
  height: 60vh;
}




@media (min-width: 720px){
  header .container{
    flex-direction: row;
  }

  header nav{
    flex-direction: row;
  }
}






