@import url('index.css');
@import url('products.css');
@import url('detail.css');
@import url('footer.css');
@import url('header.css');
@import url('base.css');
@import url('productadd.css');
@import url('login.css');
@import url('slider.css');
@import url('register.css');

